.textField {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 5px solid #bac1c6;
  border-radius: 20px;
  height: 108px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: #4a4a49;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #bac1c6;
  background-color: #ffffff;
  padding: 3px;
  left: 30px;
  top: -20px;
}
